# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environments
.env
.venv
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
